<!doctype html>
<html lang="en">
<head>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block style %}
        <link rel="stylesheet" href="/asset/style/main.css">
    {% endblock %}

    <link rel="icon" type="image/png" href="/asset/image/brand.png" />

    <title>{% block title %}page{% endblock %} - apprenticeship-report</title>
</head>
<body>
{% block content %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/asset/script/main.js"></script>
{% endblock %}
</body>
</html>
